html, body{
	height: 100%;
	
}
/* =========== Navigation ============ */

.navbar-default {
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 

/*  ,,,,,,,,
 h2{
	font-size: 40px;
	color: #ffffff;
	
}

h4{
	font-size: 18px;
	font-align:right;
	color: #ffffff;
}

.header-container{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	backface-visibility: visible;
	background-position:100% 100%;
}
.header-container>div{
	text-align: center;
}
.content-row{
	margin-top: 0px;
}
.content-row h4{
	margin-top: 20px;

}
 .header-text p{
	text-shadow: 2px 2px #FF0000;s
	font-size: 50px;
	font-weight: 300;
	line-height: 40px;
	padding-top: 1px;
	/*margin-top
margin-right
margin-bottom
margin-left
}/
.header-overlay{
	background-color: rgba(31, 31, 31, 0.75);
}
.logo{
	width: 15%;
	margin-top: 40px;
	border-radius: 50%;
}
.logo>img{
	width:250px;
	height:250px;
}

.mani-image img{
	width: 50%;
	
}
.img-float{
	float:none;
	width:50%;
	height:50%;
	padding-bottom: 30px;
}
.animated {
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:95px;
            margin-bottom:60px;
            -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            image-he
         }
         
		
		@-webkit-keyframes fadeInLeft {
            0% {
               opacity: 0;
               -webkit-transform: translateX(-20px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes fadeInLeft {
            0% {
               opacity: 0;
               transform: translateX(-20px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         s
         .fadeInLeft{
         -webkit-animation-name: fadeInLeft;
         animation-name: fadeInLeft
         } 

         /* ------------------- home -----------------------*/

 .homepage{
 	 background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
 }

 .home h2{
 	color: #f3dcdc;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    line-height: 45px;
    padding-top: 200px;
    text-transform: uppercase;
 }
 .home h3{
 	color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
 }
 .home h4{
 	color: rgba(255, 255, 255, 0.53); 
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 250px;
 }
 .home h4 span{
 	color: rgba(255, 255, 255, 0.84);
 }
 .navbar{
 	background-color: #000000;
 	 
 }
 /* ================== abput me ======================= */
.aboutme p{
	text-align: center;
	color: #120101;
	font-size:15pt;
}
.aboutme h3{
	margin-top: 20px;
	text-align: center;
	font-style: bold;
	color: #120101;
	font-size: 30pt;
	margin-bottom: 20px;
}
.fa-custom-hand{
	position:absolute;
	left:10px;
}
/*------ graduatin ----- */
.grad-img {
	display: block;
    margin: auto;
   /* width: 50%; */
}
.grad-img>img{
	height:450px;
	margin:20px 0;
}
.grad h3 {
	margin-top: 20px;
	text-align: left;
	color: #120101;
	font-size: 20pt;
}
.graduation p{
	font-size: 18pt
}
.grad p {
	margin-top: 15px;
	text-align: left;
	color: #120101;
	font-size:15pt;
}
.chooseitem {
	position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.chooseitem div i{
	font-size: 50px;
    color: #129CF3;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    }
    /*---------------------- Testimoinals -------------------- */
   .testimonial {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 100%;
}
.project h4{
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 30px;
    padding-bottom: 50px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner .item img {
    border: 3px solid #8cf312;
    border-radius: 50%;
    padding: 1px;
}
.testimonial-caption {
    padding-bottom: 20px;
}
.testimonial-caption h2 {
    color: #d1f312;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    margin-top: 15px;
    
}
#sql h2{
	margin-top: 50px;
}
#sql p{
	margin-bottom: 50px;
}
.testimonial-caption h4 {
    color: #d1f312;
    font-weight: bold;
}

.testimonial-caption h4 span {
    
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 25px;
    line-height: 50px;
    padding-top: 10px;
}
/*======= screen =========================*/

.screen h2{
	font-size: 40px;
	font-weight: 600;
	color: #000000;
	text-align: center;
	padding: 10px;
}
.screen p{
	font-size: 30px;
	font-weight: 300;
	color: #000000;
	text-align: center;
	padding: 1px 0px 5px 0px;
}

.screenpics h3{
	font-size: 20px;
	color: #f31e06;
	text-align: center;
	padding: 3px 3px 3px 3px; 
	font-weight: bold;
}





/* =============Contactus us============ */
.contact-us{
	background-image:url("../img/contact.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.contact-us-form .form-control{
	 display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;s
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: rgb(230, 230, 226);
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
#message {
	height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  text-align: center;
    background-color: rgba(114, 137, 140, 0.54);
    border: 1px solid #129CF3;
    border-radius: 6px;
    width: 40%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #129CF3;
    color: #000000;
    border-color: #ffffff;
}
.contact-title h4{
	font-size: 40px;
	padding: 10px;
	text-align: center;
	color: rgba(255, 255, 255, 0.66);
}

.mani-contact img{
	height: 120px;
	width:120px;
position: relative;

}

#contact-img{
	width:200px;
	height:250px;
	margin:40px 0 0 60px;
}

/*=====================social icon==================*/
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
    
}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.social-icons ul li { 
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    width: 50px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    background-color: rgba(255, 255, 255, 0.24);
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.social-icons ul li a:hover {
    
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
} 
.social-icons ul li a i {
    font-size: 20px;
}
/*=================footer==================*/
.footer{
	background-color: rgba(81, 66, 66, 0.27);
	padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright p{
	color:  #1a1a1a;
	 font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a{
	color: #1a1a1a;

}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: rgb(85, 25, 10);
    padding: 10px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

